/* My Custom Stylesheet */

/* Turn icons to text on hover */
.home-icon::before {
  font-family: "Material Icons";
  content: "\e88A";
  font-size: 30px;
}

.skills-icon::before {
  font-family: "Material Icons";
  content: "\e1B0";
  font-size: 30px;
}

.portfolio-icon::before {
  font-family: "Material Icons";
  content: "\e0e0";
  font-size: 30px;
}

.contact-icon::before {
  font-family: "Material Icons";
  content: "\e158";
  font-size: 30px;
}
/* Icons end*/

/* To display and hide the icons  */

.home-icon:hover::before, .skills-icon:hover::before, .portfolio-icon:hover::before, .contact-icon:hover::before {
  display: none !important;
}

.home-icon::after {
  content: 'HOME';
  display: none;
}

.skills-icon::after {
  content: 'SKILLS';
  display: none;
}

.portfolio-icon::after {
  content: 'PORTFOLIO';
  display: none;
}

.contact-icon::after {
  content: 'CONTACT ME';
  display: none;
}

.home-icon:hover::after, .skills-icon:hover::after, .portfolio-icon:hover::after, .contact-icon:hover::after {
  display: block !important;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
  font-weight: bold;
  transition: all 0.3s ease-out;
}

/* End of the icons */

nav ul a,
nav .brand-logo {
  color: #3DFFD9;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #3DFFD9;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
  
}
.icon-block .material-icons {
  font-size: inherit;  
}

footer.page-footer {
  margin: 0;
}

#particles {
  position: absolute;
  width: 100%;
  height:auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
 
  
}


#particles1 {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


#nav-height {
  height: 4.7rem;
  background: #232526;
  /* fallback for old browsers */

  background: -webkit-linear-gradient(to left, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */

  background: linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

box-shadow: none !important;
-webkit-box-shadow:none !important; 

  
}

#index-banner{
  height: 380px;
  background: #232526;
  /* fallback for old browsers */

  background: -webkit-linear-gradient(to left, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */

  background: linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* .nav-mobile {
  z-index: 10 !important;
} */


#particles-banner {
   height: 380px;
   background: #232526;
   /* fallback for old browsers */

   background: -webkit-linear-gradient(to left, #414345, #232526);
   /* Chrome 10-25, Safari 5.1-6 */

   background: linear-gradient(to left, #414345, #232526);
   /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.centered {
  display: inline;
  padding: .2em;
    
}


#contact {
  background: #232526;
  /* fallback for old browsers */

  background: -webkit-linear-gradient(to left, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */

  background: linear-gradient(to left, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.header {
  color: #3DFFD9;
 }

h6 {
  padding: 0;
  margin-top: -20px !important;
}

#skillsText, #portText {
  color: #3DFFD9;
  text-shadow: 2px 2px #f70055;
  
  
}

.white-text {
  color: #3DFFD9 !important;
}


#copy {
  color: #3DFFD9;
}


#skills, #portfolio {
  background: rgba(169,169,169,0.5) !important;
}

.btn {
  color: #3DFFD9 !important;
  position: relative;
  z-index: 10 !important;
}
